
/*General*/
html,body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li{
    margin: 10px;
}

ol li{
    margin: 10px;
}

a{
    text-decoration: none;  
}

h2 {
    text-align: center;
}


input, textarea {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

input:focus {
    border-color: #007BFF;
    outline: none;
}

textarea:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    background-color: #3749ac;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}
button:hover {
    background-color: #4cae4c;
}


img{
    display: block;
    transition: transform 0.5s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table caption{
    font-size: 1.3em;
    margin: 10px;
}

th, td {
    padding: 5px;
    border: 1px solid #141313;
    text-align: center;
}
th {
    background-color: #6162c7;
    color: white;
}
tr {
    background-color: white;
    color: #6162c7;
}
tr:nth-child(even) {
    background-color: white;
    color: #6162c7;
}

.vertical{
    width: 1px; /* Ancho de la línea */
            height: 100px; /* Altura de la línea */
            background-color: black; /* Color de la línea */
            border: none; /* Eliminar bordes predeterminados */
            margin: 0 10px; /* Espacio alrededor de la línea */
            display: inline-block; /* Comportamiento en línea */
}


.rojo{
    color: red;
}

/*FIN GENERAL*/

/*TITULOS*/
.titulo{
    display:flex;   
    align-items: center;
    justify-content: center;
    background-color: #4244BD;
    width: 100%;
    border-radius: 10px;

}

.titulo h1{
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 10px;
}

.subtitulo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #176340;
    height:56px;
    font-size: 1.5em;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    width: 100%;
}

.subtitulo h2{
    margin: 10px;
    font-size: 1em;
}

/*FIN TITULOS*/

/*NAVEGADOR*/

.navegador  {
    display: flex;
    background-color: #176340;
    border-radius: 10px;
}

.navegador a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.3em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navegador a:hover, nav a:focus {
    color: red;
    font-weight: bold;
}

.navegador ul {
    display: flex;
    width: 100%;
}

.navegador li {
    margin: 5px 0;
}

.navegador .resaltado{
    font-weight: bold;
    background-color: #743807;
    border-radius: 10px;
}
/*FIN NAVEGADOR*/

/*BARRA IDENTIFICACION*/

.breadcrumb {
    background-color: #83e2f3;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}
.breadcrumb a {
    color: black;
    text-decoration: none;
    margin: 0 5px;
    font-size: 1em;
}
.breadcrumb a:hover {
    text-decoration: underline;
    color: #2355c2;
    font-weight: bold;
}

/*FIN BARRA IDENTIFICACION*/

/*INICIO Y PIE INICIO*/

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: auto;
}

.inicio{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: justify;
}

.inicio h3 {
    text-align: center;
}

footer{
    display: flex;
    background-color: rgb(187, 180, 180);
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1rem;
    border-radius: 10px;
    margin: 10;

}

footer .footer-section{
    flex: 1;
    margin: 10px;
    font-size: 0.75em;
}

/*FIN INICIO Y PIE INICIO*/

/*CARRUSEL IMAGENES RECETAS */

.contenedor{
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
}

.carrusel {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    max-width: 1920px;  
}

/*Tarjetas Carrusel de imagenes*/

.foto {
    display:flex;
    flex-direction: column;
    align-items: center;
}


.foto:hover img {
    object-fit: cover;
    transform: scale(1.1);
}

.foto figcaption{
    display: block;
    background-color: rgb(5, 110, 114);
    color: white;
    width: 100%;
    font-size: 1.2em;
    cursor: none;
    text-align: center;
    border-radius: 10px;
    margin-top: 15px;
}


/*CARRUSEL IMAGENES RECETAS */

/*TIPS RECETAS*/

.tips{
    height: 80vh;
    overflow-y: auto;
}

.tips_recetas{
    padding-right: 20px;
}

.info_recetas {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #1468b8, #181bc4);
    border-radius: 10px;
    color: #ffffff;
   
}

.info_recetas  a {
    color: white;
    font-size: 0.75em;
   
}

.info_recetas hr {
    border: 2px;
    height: 4px;
    background: none;
    border-top: 2px dashed #f0efef;
    margin: 20px 0;
}



.info_recetas .centrado{
    display: flex;
    justify-items: center;
    text-align: justify;
}

.indice{
    border-right: 2px solid #d6dee7;
    margin-right: 10px;
    font-size: 1.2em;
}

/*FIN RECETAS PRINCIPAL*/

/*RECETAS CABECERA Y DESARROLLO*/
.cabecera{
    display: flex;
    flex-direction: column;
    background-color: #e68404;
    width: 400px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.cabecera .foto{
    margin: 10px;
    width: auto;
}

.cabecera .foto img {
    margin: 10px;
    width: 94%;
    height: 92%;
}

.foto img{
    width: 280px;
    height: 280px;
}

.desarrollo{
    display: flex;
    flex-direction: column;
    background-color: #1468b8;
    color: aliceblue;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
}

.desarrollo p {
    text-align: left;
    margin: 10px;
}

.ingredientes{
    width: 97%;
    margin: 5px;
}

.valores{
    width: 90%;
    margin: 10px;
}



.receta{
    display: flex;
    flex: 1;  
}

/*FIN RECETAS CABECERA Y DESARROLLO*/
/*FORMULARIO DE CONTACTO*/
.form_contacto{
    width: 50%;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    border-radius: 10px;
}

.form_contacto legend{
    padding:  10px;
}


/*FIN FORMULARIO CONTACTO*/

/*Media Queries*/

/*Moviles en vertical*/
@media only screen and (orientation: portrait) and (max-width: 600px) {
    .indice{display: none;}

    .carrusel {
        display: flex;
        flex-direction: column;
    }

    .tarjeta header{
        width: 100%;
    }

    .receta{
        flex-direction: column;
        width: 100%;
        overflow-y: auto;
    }

    .cabecera{
        flex-direction: column;
        width: 100%;
    }
    
    .desarrollo{
        padding: 0px;
        padding-bottom: 20px;
        width: 100%;
    }

    footer{
        flex-direction: column;
        height: 120px;
        overflow-y: auto;
    }

     .info_recetas{
        flex-direction: column;
    }

    .info_recetas .centrado{
        flex-direction: column-reverse;
    }

    .info_recetas  .foto img {
        margin: 20px;
        max-width: 90%;
        max-height: 300px;
        height:auto;
    }

    .inicio{
        width: 97%;
    }
    
    .form_contacto{
        width: 90%;
    }
}
/*Moviles en apaisado o muy largos*/
@media only screen and  (orientation: portrait) and (min-width: 600px) and (max-width: 992px) {
    .indice{display: none;}
    
    .carrusel{
        padding: 30px;
    }

    .cabecera{
        overflow-y: auto;
    }
    
    .desarrollo{
        overflow-y: auto;
    }

    .footer{
        flex-direction: column;
        height: 130px;
        overflow-y: auto;
    }


    .info_recetas  .foto img {
        margin: 20px;
        max-width: 280px;
        max-height: 300px;
        height:auto;
    }

    .inicio{
        width: 97%;
    }

   

} 

@media (orientation: landscape) {
    .indice{display: none;}
    
    .carrusel{
        padding: 30px;
    }

    .cabecera{
        overflow-y: auto;
    }
    
    .desarrollo{
        overflow-y: auto;
    }

    .footer{
        flex-direction: column;
        overflow-y: auto;
    }

    .info_recetas  .foto img {
        margin: 20px;
        max-width: 280px;
        max-height: 300px;
        height:auto;
    }

    .inicio{
        width: 97%;
    }


} 

/*Portatiles y escritorios*/
@media only screen and (orientation: portrait) and (min-width: 992px)  {
    /* Navegador */
  

    .cabecera{
        overflow-y: auto;
    }
    
    .desarrollo{
        overflow-y: auto;
    }

    footer{
        flex-wrap: wrap;
        position: fixed;
        bottom: 0px;
        left: 7px; 
        right: 7px;
    }

    .carrusel{
        padding: 30px;
    }
 
    .info_recetas  .foto img {
        margin: 20px;
        max-width: 300px;
        max-height: 300px;
    }

    .inicio{
        width: 80%;
        padding: 20px;
    }

   
    
} 
